.nav_bar {
    background-color: #f2dad6;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 60px;
    color: #f3f3f3;
    display: flex;
}

body {
    background-color: #e0f2d6;
    margin-top: 80px;
    margin-left: auto;
}

.logo {
  border-radius: 75%;
  box-shadow: 2px 1px 1px 2px gray;
  cursor: pointer;
}

.logo:hover {
  opacity: .5;  
}

.zoom {
  margin-left: 15px;
}
.zoom:hover {
    position:absolute;
    top: 125px;
    left: 535px;
    width:500px;
    height: 550px;
    z-index:10;
    cursor: pointer;
}

#centerimg {
    position:absolute;
    top: 125px;
    left: 550px;
    width:500px;
}

svg:hover {
  opacity: 1;
}

circle.y {
  stroke: black;
}
line.x, line.y {
  stroke: violet;
  stroke-width: 3;
}

text{
  font-size: 16px ;
  font-weight: 2000;
  position: absolute;
  // text-shadow:
  // 0.07em 0 black,
  // 0 0.07em black,
  // -0.07em 0 black,
  // 0 -0.07em black;
}

.icon-container {
  display: flex;
  align-items:stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 16%;
  // height: auto;
}

.visual-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  height: 87vh;
  margin-left: 100px;
  gap: 75px;
}

svg {
  font-size: 40px;
  background-color: transparent;
  opacity: 0.7;
}

#container  {
  display: inline-block;
  align-items: stretch;
  margin-left: 200;
  width: -14%;
}

.tinterModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 255, 245, 0.6); 
  z-index: 1;
}

.welcomeBox { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  background-color: #e0f2d6;
  height: 500px;
  width: 700px;
  top: 100px;
  left: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px black;
  padding: 20px 30px 30px 30px;
}

#tint {
  display: block;
}

.welcomeBox h1{
  color: green;
  margin: 0.5rem 0;
  text-shadow: 0px 2px green;
}

.welcomeBoxText {
  color: #09434b;
  font-size: 22px;
  text-align: center;
  font-family:'Comfortaa';
}


#title{
  font-size: 45px;
  padding-top: 5px;
  margin-left: 13px;
  color: #e0f2d6;
  text-shadow: 2px 4px pink;
}

#API{
  font-size: 12px;
}

#interact {
  font-size: 45px;
  border-bottom: 1px solid green;
  border-right: 1px solid green;
  box-shadow: 2px 1px 1px 1px green;
  font-style: italic;
  // padding-bottom: 20px;
}